html {
}

body {
    /*background-image: url("src/img/city.jpg");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: violet;
}

.body {
    width: 50%;
    text-align: left;
    font-size: 1.1em;
    margin: auto;
    background-color: rgb(0, 0, 0, 0.1)
}
